﻿@model Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.Course

@{
    ViewData["Title"] = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(x => Model.Enrollments.FirstOrDefault().Student.StudentFirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => Model.Enrollments.FirstOrDefault().Student.StudentLastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => Model.Enrollments.FirstOrDefault().Student.EnrollmentDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var enrolledStudent in Model.Enrollments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => enrolledStudent.Student.StudentFirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => enrolledStudent.Student.StudentLastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => enrolledStudent.Student.EnrollmentDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
