﻿@model PaginatedList<Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.Student>

@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name:<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-pageNumber="@Model.PageIndex" 
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].StudentFirstName)
                </a>
            </th>
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["LNameSortParm"]"
                    asp-route-pageNumber="@Model.PageIndex" 
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].StudentLastName)
                </a>
            </th>
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["DateEnrolledSortParm"]"
                    asp-route-pageNumber="@Model.PageIndex" 
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].EnrollmentDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a 
                    asp-action="Edit" 
                    asp-route-id="@item.StudentId">Edit</a> |
                <a 
                    asp-action="Details" 
                    asp-route-id="@item.StudentId">Details</a> |
                <a 
                    asp-action="Delete" 
                    asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]" 
    asp-route-pageNumber="@(Model.PageIndex + 1)" 
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Next
</a>