﻿@model PaginatedList<Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.OfficeAssignment>

@{
    ViewData["Title"] = "Office Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Instructor Last Name or Office Location:<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            @*string , string , string , int? *@
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["LocationParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-pageNumber="@Model.PageIndex">
                    @Html.DisplayNameFor(model => model.SingleOrDefault().Location)
                </a>
            </th>
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["InstructorNameParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-pageNumber="@Model.PageIndex">
                    @Html.DisplayNameFor(model => model.SingleOrDefault().Instructor)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FullName)
            </td>
            <td>
                <a 
                    asp-action="Edit" 
                    asp-route-id="@item.InstructorID">
                    Edit
                </a> |
                <a 
                    asp-action="Details" 
                    asp-route-id="@item.InstructorID">
                    Details
                </a> |
                <a 
                    asp-action="Delete" 
                    asp-route-id="@item.InstructorID">
                    Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]" 
    asp-route-pageNumber="@(Model.PageIndex - 1)" 
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]" 
    asp-route-pageNumber="@(Model.PageIndex + 1)" 
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Next
</a>