﻿@model PaginatedList<Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>
            <a asp-action="About" asp-route-sortOrder="@ViewData["EnrollmentDateParm"]">
                @Html.DisplayNameFor(model => model.SingleOrDefault().EnrollmentDate)
            </a>
        </th>
        <th>
            <a asp-action="About" asp-route-sortOrder="@ViewData["EnrollmentCountParm"]">
                @Html.DisplayNameFor(model => model.SingleOrDefault().StudentCount)
            </a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="About" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="About" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">
    Next
</a>