﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Manzini Industrial and Training Centre (MITC)</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MITC Course Scheduler</h2>
        <p>This is a sample application derived from Microsoft's Contoso University example. It demonstrates how to use Entity Framework Core in an APS.NET Core MVC web application.</p>
    </div>
        <div class="col-md-4">
        <h2>Build It From Scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the
tutorial &raquo;</a></p>
    </div>
        <div class="col-md-4">
        <h2>Download It</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cufinal">See project source code &raquo;</a></p>
    </div>
        <div class="col-md-4">
        <h2>Learn More</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
