﻿@model PaginatedList<Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.CourseAssignment>

@{
    ViewData["Title"] = "Course Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By Course or Instructor Name:<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            @*string , int? *@
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["CourseNameParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-pageNumber="@Model.PageIndex">
                    @Html.DisplayNameFor(model => model.SingleOrDefault().Course.CourseName)
                </a>
            </th>
            <th>
                <a 
                    asp-action="Index" 
                    asp-route-sortOrder="@ViewData["InstructorNameParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    asp-route-searchString="@ViewData["CurrentFilter"]"
                    asp-route-pageNumber="@Model.PageIndex">
                    @Html.DisplayNameFor(model => model.SingleOrDefault().Instructor.FullName)
                </a>
            </th>
            <!--th>Removed because this is a joining table</th-->
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FullName)
            </td>
            <!--td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td-->
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    asp-route-pageNumber="@(Model.PageIndex - 1)" 
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a 
    asp-action="Index" 
    asp-route-sortOrder="@ViewData["CurrentSort"]"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    asp-route-searchString="@ViewData["CurrentFilter"]"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    class="btn btn-default @nextDisabled">
    Next
</a>
