﻿@model Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.Instructor

@{
    ViewData["Title"] = "Instructor Details";
    ViewData["CoursesTitle"] = "Courses Taught by Selected Instructor";
    ViewData["StudentsTitle"] = "Students Enrolled in Selected Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>
    </dl>
    <h3>@ViewData["CoursesTitle"]</h3>
    @foreach(var assignment in Model.CourseAssignments) {
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelassignment => assignment.Course.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelassignment => assignment.Course.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelassignment => assignment.Course.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelassignment => assignment.Course.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelassignment => assignment.Course.Department.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelassignment => assignment.Course.Department.DepartmentName)
        </dd>
    </dl>
    }
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstructorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
