﻿@using Manzini_Industrial_and_Training_Centre__MITC__Course_Scheduler.Models.SchoolViewModels
@model InstructorIndexData

@{
    ViewData["Title"] = "School Instructors";
    ViewData["CoursesTitle"] = "Courses Taught by Selected Instructor";
    ViewData["StudentsTitle"] = "Students Enrolled in Selected Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search By Instructor Name(s):<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th scope="col">
                    <a 
                        asp-action="Index" 
                        asp-route-id="@ViewData["InstructorID"]" 
                        asp-route-courseID="@ViewData["CourseID"]" 
                        asp-route-sortOrder="@ViewData["InstructorParm"]" 
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                        asp-route-searchString="@ViewData["CurrentFilter"]" 
                        asp-route-pageNumber="@Model.Instructors.PageIndex">
                        @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().LastName)
                    </a>
                </th>
                <th scope="col">
                    <a 
                        asp-action="Index"
                        asp-route-id="@ViewData["InstructorID"]" 
                        asp-route-courseID="@ViewData["CourseID"]" 
                        asp-route-sortOrder="@ViewData["InstructorFirstNameParm"]" 
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                        asp-route-searchString="@ViewData["CurrentFilter"]"  
                        asp-route-pageNumber="@Model.Instructors.PageIndex">
                        @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().FirstName)
                    </a>
                </th>
                <th scope="col">
                    <a 
                        asp-action="Index"
                        asp-route-id="@ViewData["InstructorID"]" 
                        asp-route-courseID="@ViewData["CourseID"]" 
                        asp-route-sortOrder="@ViewData["DateSortParm"]" 
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                        asp-route-searchString="@ViewData["CurrentFilter"]"  
                        asp-route-pageNumber="@Model.Instructors.PageIndex">
                        @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().HireDate)
                    </a>
                </th>
                <th scope="col">
                    <a 
                        asp-action="Index"
                        asp-route-id="@ViewData["InstructorID"]" 
                        asp-route-courseID="@ViewData["CourseID"]" 
                        asp-route-sortOrder="@ViewData["OfficeAssignmentSortParm"]" 
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                        asp-route-searchString="@ViewData["CurrentFilter"]"  
                        asp-route-pageNumber="@Model.Instructors.PageIndex">
                        @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().OfficeAssignment.Location)
                    </a>
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().CourseAssignments)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Instructors) {
            string selectedInstructor = "d-none";
            string selectedTableRow = "";
            if (item.InstructorID == (int?) ViewData["InstructorID"])
            {
                selectedInstructor = "";
                selectedTableRow = "table-secondary";
            }
            <tr class="@selectedTableRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null) {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @foreach (var course in item.CourseAssignments) {
                        @course.Course.CourseId @course.Course.CourseName <br/>
                    }
                </td>
                <td>
                    <a 
                        asp-action="Index"
                        asp-route-id="@item.InstructorID"
                        asp-route-sortOrder="@ViewData["CurrentSort"]" 
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                        asp-route-searchString="@ViewData["CurrentFilter"]"  
                        asp-route-pageNumber="@Model.Instructors.PageIndex">
                        Select
                    </a> | <!-- Annoying, using this does not preserve the sort order -->
                    <a 
                        asp-action="Edit"
                        asp-route-id="@item.InstructorID">
                        Edit
                    </a> |
                    <a 
                        asp-action="Details"
                        asp-route-id="@item.InstructorID">
                        Details
                    </a> |
                    <a 
                        asp-action="Delete"
                        asp-route-id="@item.InstructorID">
                        Delete
                    </a>
                </td>
            </tr>
            var courses = item.CourseAssignments;
            <tr class="@selectedInstructor">
                <td colspan="6">
                    <table class="table table-borderless table-sm align-middle mb-0 table-secondary">
                        <caption style="caption-side:top; text-align:center;">
                            <h2>@ViewData["CoursesTitle"]</h2>
                        </caption>
                        <thead>
                            <th scope="col"></th>
                            <th scope="col">
                                @Html.DisplayNameFor(assigned => courses.FirstOrDefault().Course.CourseId)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(assigned => courses.FirstOrDefault().Course.CourseName)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(assigned => courses.FirstOrDefault().Course.Department.DepartmentName)
                            </th>
                        </thead>
                        <tbody>
                            @foreach(var course in courses){
                                string selectedCourseEnrollment = "d-none";
                                string selectedCourseTableRow = "";
                                if (course.CourseId == (int?) ViewData["courseID"])
                                {
                                    selectedCourseEnrollment = "";
                                    selectedCourseTableRow = "table-primary";
                                }
                                <tr class="@selectedCourseTableRow">
                                    <td>
                                        <a 
                                            asp-action="Index"
                                            asp-route-id="@item.InstructorID" 
                                            asp-route-courseID="@course.CourseId" 
                                            asp-route-sortOrder="@ViewData["CurrentSort"]" 
                                            asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                                            asp-route-searchString="@ViewData["CurrentFilter"]"  
                                            asp-route-pageNumber="@Model.Instructors.PageIndex">
                                            Select
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(c => course.Course.CourseId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(c => course.Course.CourseName)
                                    </td>
                                    <td>
                                        @if (course.Course.Department != null)
                                        {
                                            @Html.DisplayFor(c => course.Course.Department.DepartmentName)
                                        }
                                    </td>
                                </tr>
                                var students = course.Course.Enrollments;
                                <tr class="@selectedCourseEnrollment">
                                    <td colspan="4">
                                        <table class="table table-borderless table-sm align-middle mb-0 table-primary">
                                            <caption style="caption-side:top; text-align:center;">
                                                <h3>@ViewData["StudentsTitle"]</h3>
                                            </caption>
                                            <thead>
                                                <th scope="col">
                                                    @Html.DisplayNameFor(studentItem => students.FirstOrDefault().Student.FullName)
                                                </th>
                                                <th scope="col">
                                                    @Html.DisplayNameFor(studentItem => students.FirstOrDefault().Grade)
                                                </th>
                                            </thead>
                                            <tbody>
                                                @foreach(var studentEnrollment in students){
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(student => studentEnrollment.Student.FullName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(student => studentEnrollment.Grade)
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>

        }
        </tbody>
    </table>
</div>
@{
    var prevDisabled = !Model.Instructors.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Instructors.HasNextPage ? "disabled" : "";
}

<a 
    asp-action="Index"
    asp-route-id="@ViewData["InstructorID"]" 
    asp-route-courseID="@ViewData["CourseID"]" 
    asp-route-sortOrder="@ViewData["CurrentSort"]" 
    asp-route-currentFilter="@ViewData["CurrentFilter"]" 
    asp-route-searchString="@ViewData["CurrentFilter"]"  
    asp-route-pageNumber="@(Model.Instructors.PageIndex - 1)" 
    class="btn btn-default 
    @prevDisabled">
    Previous
</a>
<a 
    asp-action="Index"
    asp-route-id="@ViewData["InstructorID"]" 
    asp-route-courseID="@ViewData["CourseID"]" 
    asp-route-sortOrder="@ViewData["CurrentSort"]" 
    asp-route-currentFilter="@ViewData["CurrentFilter"]" 
    asp-route-searchString="@ViewData["CurrentFilter"]"  
    asp-route-pageNumber="@(Model.Instructors.PageIndex + 1)"
    class="btn btn-default 
    @nextDisabled">
    Next
</a>
