﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InstructorParm"]">
                    @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().LastName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InstructorFirstNameParm"]">
                    @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().FirstName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().HireDate)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OfficeAssignmentSortParm"]">
                    @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().OfficeAssignment.Location)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructors.FirstOrDefault().CourseAssignments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Instructors) {
        string selectedRow = "";
        if (item.InstructorID == (int?) ViewData["InstructorID"])
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null) {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @foreach (var course in item.CourseAssignments) {
                    @course.Course.CourseId @course.Course.CourseName <br/>
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.InstructorID">Select</a> | <!-- Annoying, using this does not preserve the sort order -->
                <a asp-action="Edit" asp-route-id="@item.InstructorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorID">Delete</a>
            </td>
        </tr>
        <tr> // 5747
            <h2>@ViewData["CoursesTitle"]</h2>
            <partial name="~/Shared/_CourseTitle" />
        </tr>
        <tr>
            <h2>@ViewData["StudentsTitle"]</h2>
            <partial name="~/Shared/_StudentsTitle" />
        </tr>
}
    </tbody>
</table>*@